<div class="mb-3">
  <label for="filterText" class="form-label">Renk Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama İfadesi giriniz">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
{{filterText}} aradınız.
</div>
<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="list-group">
    <a class="list-group-item list-group-item-info">Renkler</a>

    <a *ngFor="let color of colors |filterColor :filterText" (click)="setCurrentColor(color)"
    [class]="getCurrentColor(color)" routerLink="/cars/color/{{ color.colorId }}" class="list-group-item list-group-item-action list-group-item-danger">
    {{ color.colorName }}</a>
  </div>